@media only screen and (max-width: 1570px){
    .conteiner {
        margin-left: 150px;
        margin-right: 150px;
      }

      .main_text {
        margin-top: 150px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 54px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -350px;
        width: 560px;
      }

      .footer_content {
        margin-left: -110px;
      }
      
}

@media only screen and (max-width: 1480px){
    .conteiner {
        margin-left: 140px;
        margin-right: 140px;
      }

      .main_text {
        margin-top: 150px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 54px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -350px;
        width: 520px;
      }

      .footer_content {
        margin-left: -180px;
      }
      
}

@media only screen and (max-width: 1335px){
    .conteiner {
        margin-left: 130px;
        margin-right: 130px;
      }

      .main_text {
        margin-top: 150px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 54px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -350px;
        width: 500px;
      }
      
      .footer_content {
        margin-left: -200px;
      }
}

@media only screen and (max-width: 1250px){
    .conteiner {
        margin-left: 120px;
        margin-right: 120px;
      }

      .main_text {
        margin-top: 150px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -300px;
        width: 480px;
      }
      
      .footer_content {
        margin-left: -220px;
      }
}

@media only screen and (max-width: 1150px){
    .conteiner {
        margin-left: 110px;
        margin-right: 110px;
      }

      .main_text {
        margin-top: 150px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -300px;
        width: 460px;
      }
      
      .footer_content {
        margin-left: -240px;
      }
}

@media only screen and (max-width: 1090px){
    .conteiner {
        margin-left: 100px;
        margin-right: 100px;
      }

      .main_text {
        margin-top: 100px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -240px;
        width: 400px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 50px;
      }

      .footer {
        margin-top: 400px;
      }
}

@media only screen and (max-width: 1010px){
    .conteiner {
        margin-left: 90px;
        margin-right: 90px;
      }

      .main_text {
        margin-top: 100px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -240px;
        width: 340px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 50px;
      }

      .footer {
        margin-top: 400px;
      }
}

@media only screen and (max-width: 950px){
    .conteiner {
        margin-left: 80px;
        margin-right: 80px;
      }

      .main_text {
        margin-top: 100px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -240px;
        width: 300px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 50px;
      }

      .footer {
        margin-top: 400px;
      }
}

@media only screen and (max-width: 910px){
    .conteiner {
        margin-left: 70px;
        margin-right: 70px;
      }

      .main_text {
        margin-top: 80px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -200px;
        width: 260px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 30px;
      }

      .footer {
        margin-top: 400px;
      }
}

@media only screen and (max-width: 870px){
    .conteiner {
        margin-left: 65px;
        margin-right: 65px;
      }

      .main_text {
        margin-top: 70px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -200px;
        width: 260px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 30px;
      }

      .footer {
        margin-top: 400px;
      }
}

@media only screen and (max-width: 825px){
    .conteiner {
        margin-left: 60px;
        margin-right: 60px;
      }

      .main_text {
        margin-top: 70px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -220px;
        width: 220px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 30px;
      }

      .footer {
        margin-top: 400px;
      }
}

@media only screen and (max-width: 790px){
      .conteiner {
        margin-left: 60px;
        margin-right: 60px;
      }

      .main_text {
        margin-top: 70px;
        font-family: "Chillax";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        background: linear-gradient(
          95.4deg,
          #9f7fdb 0.42%,
          #bdbff7 46.87%,
          #6b26ec 81.5%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
      }

      .img_intro {
        position: absolute;
        right: 0;
        margin-right: 112px;
        margin-top: -200px;
        width: 200px;
      }
      
      .footer_content {
        display: none;
        margin-left: -280px;
      }

      .footer_small_content{
        display: block;
      }
      
      .small_content_text {
        font-family: "Clash Display";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #d7d0e2;
        margin-left: 20px;
      }

      .footer {
        margin-top: 400px;
      }

      .nav {
        position: absolute;
        right: 0;
        margin-right: 80px;
        margin-top: 22px;
      }
}

@media only screen and (max-width: 690px){
    .conteiner {
      margin-left: 40px;
      margin-right: 40px;
    }

    .main_text {
      margin-top: 70px;
      font-family: "Chillax";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      background: linear-gradient(
        95.4deg,
        #9f7fdb 0.42%,
        #bdbff7 46.87%,
        #6b26ec 81.5%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-transform: uppercase;
    }

    .img_intro {
      position: absolute;
      right: 0;
      margin-right: 112px;
      margin-top: -180px;
      width: 180px;
    }
    
    .footer_content {
      display: none;
      margin-left: -280px;
    }

    .footer_small_content{
      display: block;
    }
    
    .small_content_text {
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: #d7d0e2;
      margin-left: 20px;
    }

    .footer {
      margin-top: 400px;
    }

    .nav {
      position: absolute;
      right: 0;
      margin-right: 80px;
      margin-top: 22px;
    }
}

@media only screen and (max-width: 480px){
    .conteiner {
      margin-left: 20px;
      margin-right: 20px;
    }

    .main_text {
      margin-top: 70px;
      font-family: "Chillax";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      background: linear-gradient(
        95.4deg,
        #9f7fdb 0.42%,
        #bdbff7 46.87%,
        #6b26ec 81.5%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-transform: uppercase;
    }

    .img_intro {
      position: absolute;
      right: 0;
      margin-right: 112px;
      margin-top: 20px;
      width: 160px;
    }
    
    .footer_content {
      display: none;
      margin-left: -280px;
    }

    .footer_small_content{
      display: block;
    }
    
    .small_content_text {
      font-family: "Clash Display";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: #d7d0e2;
      margin-left: 10px;
    }

    .footer {
      margin-top: 170px;
    }

    .nav {
      display: none;
      position: absolute;
      right: 0;
      margin-right: 80px;
      margin-top: 22px;
    }

    .small_nav {
        display: block;
      }
}